.orangeTeam{
  color:coral
}

.blueTeam{
  color:dodgerblue
}

.button {
  margin: 10px;
}

.matchInfo, .matchCounter {
  margin: 20px;
  font-size: 30px;
}

.teamButton {
  width: 10em;
  font-size: 30px;
}