.sortIcon {
  position: absolute;
  font-size: 10px;
}

.sortIcon.up{
  top: 50%;
  transform: translate(5px, -100%);
}

.sortIcon.down{
  top: 50%;
  transform: translate(5px, -50%);
}

.leftAlignedIconWrapper {
  width: 40px;
}

.iconWrapper {
  line-height: 0;
}

.leftAlignedSortIcon {
  left: 30px;
}